/**
 * Project - Footer
 */

.footer {
  padding: space("large") 0 space("x-large");
  background-color: theme-color("darkest");
  color: theme-color("lightest");
  text-align: center;

  @media (min-width: breakpoint("md")) {
    padding-block-end: space("large");
  }

  small {
    display: block;

    @media (min-width: breakpoint("md")) {
      display: inline-block;
      padding-inline: space("x-small");
    }
  }
}
