/**
 * Form
 */

.form {
  @include form();
  margin-block-end: space("large");

  &--consultation {
    padding: space("medium");
    background-color: theme-color("lightest");
  }

  &__title {
    font-weight: 700;
    text-align: center;
  }

  &__component {
    margin-block: space("medium");
  }

  &__label {
    display: block;
    margin-block: space();
    font-weight: 700;
  }

  &__unit {
    display: inline-block;
    margin-inline-start: space();
  }

  &__radio {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;

    .radio {
      display: flex; // Override
    }
  }

  input[type="number"] {
    display: inline-block;
    width: 6rem;
  }

  input[type="checkbox"] {
    display: inline-block;
    transform: scale(1.5, 1.5);
  }

  &__desc {
    padding: 0 space() space();
    font-size: 0.875rem;
  }

  &__privacy-policy {
    border-block-end: 1px dashed transparent;
    
    &:hover {
      border-block-end: 1px dashed $body-color;
    }

    &::after {
      content: "";
      display: inline-block;
      width: 0.5rem;
      height: 0.5rem;
      margin: auto 0 auto space("medium");
      border-top: 2px solid $body-color;
      border-right: 2px solid $body-color;
      transform: rotate(45deg);
    }
  }

  &__buttons {
    margin-block: space("medium");
    text-align: center;

    [type="image"] {
      width: auto;
      height: 3rem;
      margin-block: space("medium");

      &:hover {
        transform: translateY(-3px);
        filter: drop-shadow(2px 4px 6px theme-color("dark"));
      }
    }

    [type="submit"], [type="button"], [type="reset"] {
      display: inline-block;
      width: 14rem;
      height: 3.5rem;
      line-height: 3.5rem;
      margin-inline: auto;
      @include make-button();
    }

    [type="submit"] {
      @include make-button-color-active("primary");
    }
  
    [type="button"] {
      @include make-button-color-normal("secondary");
    }
  
    [type="reset"] {
      @include make-button-color-normal("tertiary");
    }
  }
}
