/**
 * Layout
 */

.wrapper {
  background: url("./assets/pageBg.png") repeat-y 50% 0% / 100% scroll, theme-color("primary"); // Temporary scale
}

.container {
  width: min(100%, 32rem); // Fix
  min-height: calc(100vh - 15rem); // FloatingAreaとFooterを引く
  margin: 0 auto;
  border-inline: 2px solid theme-color("darkest");
  background-color: theme-color("secondary");
  overflow: hidden;

  &--lightest {
    background-color: theme-color("lightest");
  }

  &--eaf4ee {
    background-color: #eaf4ee;
  }

  &--notepad {
    background-color: theme-color("lightest");
    background-image: linear-gradient(0deg, transparent calc(100% - 1px), theme-color("lighter") calc(100% - 1px)), linear-gradient(90deg, transparent calc(100% - 1px), theme-color("lighter") calc(100% - 1px));
    background-size: 1.33rem 1.33rem;
    background-repeat: repeat;
    background-position: center center;
  }
}
