/**
 * Layout
 */

.wrapper {
  background: url("./assets/pageBg.png") repeat-y 50% 0% / 100% scroll, theme-color("primary"); // Temporary scale
}

.container {
  width: min(100%, 32rem); // Fix
  min-height: calc(100vh - 15rem); // FloatingAreaとFooterを引く
  margin: 0 auto;
  border-inline: 2px solid theme-color("darkest");
  background-color: theme-color("secondary");
  overflow: hidden;

  &--lightest {
    background-color: theme-color("lightest");
  }

  &--eaf4ee {
    background-color: #eaf4ee;
  }
}
