/**
 * Project - Personality Test
 */

.personalityTest {
  position: relative;
  width: 100%;
  height: 24rem;
  padding: space("x-large") 0;

  &__main {
    position: absolute;
    inset: 0;
    width: 27rem;
    height: 18rem;
    margin: auto;
    border: 2px solid theme-color("darkest");
    background-color: theme-color("lightest");
    box-shadow: 3px 3px 12px 3px rgba(0, 0, 0, 0.3);

    &--start {
      background: url("./assets/personalityTestStart.png") no-repeat 50% 0% / 80% scroll, theme-color("lightest");
    }

    &:not(.personalityTest__main--start)::before {
      content: "";
      position: absolute;
      top: -1rem;
      left: 1rem;
      z-index: 10;
      display: block;
      width: 4.5rem;
      height: 6rem;
      background: url("./assets/personalityLabel.png") no-repeat 0% 0% / contain scroll;
    }

    &:not(.personalityTest__main--start)::after {
      content: "問" attr(data-index);
      position: absolute;
      top: 0.5rem;
      left: 1rem;
      z-index: 10;
      display: block;
      width: 3.5rem;
      color: theme-color("lightest");
      font-size: 1.33rem;
      text-align: center;
    }

    &.personalityTest__main--result::after {
      content: "解";
    }

    &--leave {
      animation: slide-out 0.5s ease;
    }

    &--enter {
      animation: slide-in 0.5s ease;
    }

    &--collapse {
      display: none;
    }
  }

  &__content {
    padding: 4rem 3rem 0;
    text-align: justify;
  }

  &__form {
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
    padding: 0 3rem;
  }

  &__button {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 12.5%;
    @include button("tertiary", 12rem, 3rem, 1.5rem);

    @at-root .personalityTest__main--start & {
      bottom: 25%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0.75rem;
      bottom: 0;
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      margin: auto;
      background: url("./assets/button.svg") no-repeat 50% 50% / contain scroll;
    }
  }

  &__result {
    padding-inline-start: 7.5rem;
    
    ul, li {
      margin: 0;
    }
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    transform: translateX(-120%);
  }
}

@keyframes slide-in {
  0% {
    opacity: 1;
    transform: translateX(120%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
