/**
 * Conponent - Radio
 */

.radio {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  cursor: pointer;

  input[type="radio"] {
    display: none;
  }

  &__mark {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    margin-inline-end: 0.5rem;
    border: 2px solid theme-color("darkest");
    border-radius: 1rem;
    font-weight: bold;
    font-size: 1.33rem;
    background-color: theme-color("lightest");
    color: transparent; // 初期はマーク非表示
    transition: color 0.5s ease;
  }

  input[type="radio"]:checked + .radio__mark {
    content: "✓";
    color: theme-color("darkest"); // 選択時に✓を表示

    &::before {
      content: "✓";
    }
  }
}
