/**
 * Project - Site Header
 */

.siteMain {
  padding-block: space("large");
  background-color: theme-color("secondary");

  &__section {
    width: 100%;

    &--personalitySp {
      height: 50vw;
      margin-block-start: 1.5rem;
      margin-block-end: 4.5rem;
      padding: 0 0 0 16.7%;
      background: url("./assets/personalityBg_sp.svg") no-repeat 100% 100%;
      background-size: 91.6%;

      @media (min-width: breakpoint("md")) {
        display: none;
      }
    }

    &--self-fSp {
      height: 50vw;
      margin-block: 4.5rem;
      padding: 0 16.7% 0 0;
      background: url("./assets/self-fBg_sp.svg") no-repeat 0% 100%;
      background-size: 91.6%;

      @media (min-width: breakpoint("md")) {
        display: none;
      }
    }

    &--self-mSp {
      height: 50vw;
      margin-block: 4.5rem;
      padding: 0 0 0 16.7%;
      background: url("./assets/self-mBg_sp.svg") no-repeat 100% 100%;
      background-size: 91.6%;

      @media (min-width: breakpoint("md")) {
        display: none;
      }
    }

    &--matchingSp {
      height: 50vw;
      margin-block: 4.5rem;
      padding: 0 16.7% 0 0;
      background: url("./assets/matchingBg_sp.svg") no-repeat 0% 100%;
      background-size: 91.6%;

      @media (min-width: breakpoint("md")) {
        display: none;
      }
    }

    &--personalityPc {
      display: none;

      @media (min-width: breakpoint("md")) {
        display: block;
        height: 50vw;
        padding: 10.5rem 0 0 25%;
        background: url("./assets/personalityBg_pc.svg") no-repeat 100% 100%;
        background-size: 91.6%;
      }
    }

    &--selfPc {
      display: none;

      @media (min-width: breakpoint("md")) {
        display: flex;
        gap: 9rem;
        height: 50vw;
        padding: 10.5rem 25% 0 0;
        background: url("./assets/selfBg_pc.svg") no-repeat 0% 100%;
        background-size: 91.6%;
      }
    }

    &--matchingPc {
      display: none;

      @media (min-width: breakpoint("md")) {
        display: block;
        height: 50vw;
        padding: 10.5rem 25% 0 0;
        background: url("./assets/matchingBg_pc.svg") no-repeat 0% 100%;
        background-size: 91.6%;
      }
    }

    &--columnSp {
      height: 50vw;
      margin-block: 4.5rem;
      padding: 0 0 0 16.7%;
      background: url("./assets/columnBg_sp.svg") no-repeat 100% 100%;
      background-size: 91.6%;

      @media (min-width: breakpoint("md")) {
        display: none;
      }
    }

    &--moneyplanSp {
      height: 50vw;
      margin-block: 4.5rem;
      padding: 0 16.7% 0 0;
      background: url("./assets/moneyplanBg_sp.svg") no-repeat 0% 100%;
      background-size: 91.6%;

      @media (min-width: breakpoint("md")) {
        display: none;
      }
    }
  }

  &__heading {
    a {
      display: block;

      &:hover > img {
        filter: drop-shadow(2px 4px 6px theme-color("darker"));
      }
      
      &::after {
        content: "";
        display: block;
        width: 3rem;
        height: 3rem;
        margin: space() auto;
        background: url("./assets/button.svg") no-repeat 50% 50% / contain scroll;
      }

      &:hover::after {
        filter: brightness(0.7) hue-rotate(240deg) drop-shadow(2px 4px 6px theme-color("darker"));
      }
    }

    &--personalitySp {
      width: 18rem;
      margin: 0 auto;
    }

    &--self-fSp {
      width: 18rem;
      margin: 0 auto;
    }

    &--self-mSp {
      width: 18rem;
      margin: 0 auto;
    }

    &--matchingSp {
      width: 21rem;
      margin: 0 auto;
    }

    &--personalityPc {
      width: 30rem;
      margin: 0 auto;
    }

    &--self-fPc, &--self-mPc {
      width: 18rem;
      margin: 0 auto;
    }

    &--matchingPc {
      width: 27rem;
      margin: 0 auto;
    }

    &--columnSp, &--moneyplanSp {
      width: 18rem;
      margin: 0 auto;
    }
  }
}
