/**
 * Project - Site Header
 */

.siteMain {
  padding-block-end: space("large");
  background-color: theme-color("secondary");

  &__section {
    width: 100%;

    &--personalitySp {
      height: 62.5vw;
      padding: 4.5rem 0 0 16.7%;
      background: url("./assets/personalityBg_sp.svg") no-repeat 100% 100%;
      background-size: 91.6%;

      @media (min-width: breakpoint("md")) {
        display: none;
      }
    }

    &--self-fSp {
      height: 62.5vw;
      padding: 4.5rem 16.7% 0 0;
      background: url("./assets/self-fBg_sp.svg") no-repeat 0% 100%;
      background-size: 91.6%;

      @media (min-width: breakpoint("md")) {
        display: none;
      }
    }

    &--self-mSp {
      height: 62.5vw;
      padding: 4.5rem 0 0 16.7%;
      background: url("./assets/self-mBg_sp.svg") no-repeat 100% 100%;
      background-size: 91.6%;

      @media (min-width: breakpoint("md")) {
        display: none;
      }
    }

    &--matchingSp {
      height: 62.5vw;
      padding: 4.5rem 16.7% 0 0;
      background: url("./assets/matchingBg_sp.svg") no-repeat 0% 100%;
      background-size: 91.6%;

      @media (min-width: breakpoint("md")) {
        display: none;
      }
    }

    &--personalityPc {
      display: none;

      @media (min-width: breakpoint("md")) {
        display: block;
        height: 50vw;
        padding: 10.5rem 0 0 25%;
        background: url("./assets/personalityBg_pc.svg") no-repeat 100% 100%;
        background-size: 91.6%;
      }
    }

    &--selfPc {
      display: none;

      @media (min-width: breakpoint("md")) {
        display: flex;
        gap: 9rem;
        height: 50vw;
        padding: 10.5rem 25% 0 0;
        background: url("./assets/selfBg_pc.svg") no-repeat 0% 100%;
        background-size: 91.6%;
      }
    }

    &--matchingPc {
      display: none;

      @media (min-width: breakpoint("md")) {
        display: block;
        height: 50vw;
        padding: 10.5rem 25% 0 0;
        background: url("./assets/matchingBg_pc.svg") no-repeat 0% 100%;
        background-size: 91.6%;
      }
    }
  }

  &__heading {
    a {
      display: block;
      transition: opacity 0.25s ease;

      &:hover {
        opacity: 0.7;
      }
      
      &::after {
        content: "";
        display: block;
        width: 3rem;
        height: 3rem;
        margin: space() auto;
        background: url("./assets/button.svg") no-repeat 50% 50% / contain scroll;
      }
    }

    &--personalitySp {
      width: 18rem;
      margin: 0 auto;
    }

    &--self-fSp {
      width: 18rem;
      margin: 0 auto;
    }

    &--self-mSp {
      width: 18rem;
      margin: 0 auto;
    }

    &--matchingSp {
      width: 21rem;
      margin: 0 auto;
    }

    &--personalityPc {
      width: 30rem;
      margin: 0 auto;
    }

    &--self-fPc, &--self-mPc {
      width: 18rem;
      margin: 0 auto;
    }

    &--matchingPc {
      width: 27rem;
      margin: 0 auto;
    }
  }
}
